#e_divInputSearch {
	width: 90vw;
	height: 100vh;
	margin-left: 10vw;
	margin-right: auto;
	padding: 10px;
	background-color: #d4d4d4;
	color: #191e3f;
}

.accordion-item{
	background-color: white;
	margin-top: 0;
	border: none;
	padding: 0;
	
}

h2 button{
	font-size: 3vh !important;
}