*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  #containerlisteProjet1 {
    width: 85vw;
    height: auto;
    margin-left: 10vw;
    border-radius: 20px;
    padding: 10px;
  }

  
  /* ONGLETS PROJETS*/
  
  .containerlistProjet1 {
      width: 88vw;
      height: 63vh;
      background: #f1f1f1;
      border-radius: 2px;
  }
  
  .container-ongletslisteProjet1{
    background: #d4d4d4;
    width: 100%;
    height: 40px;
    display: flex;
  }
  .ongletslisteProjet1 {
    width: 89vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #333;
    height: 100px;
    border-radius: 0;
  }
  .ongletslisteProjet1:not(:nth-child(3)) {
    border-right: 1px solid #333;
  }
  
  .contenulisteProjet1 {
    height: 70%;
    width: 100%;
    position: absolute;
    opacity: 0;
  }
  .contenulisteProjet1 h3 {
    padding: 20px;
  }
  .contenulisteProjet1 hr {
    width: 20%;
    height: 2px;
    margin-left: 20px;
    background: #000;
    border: none;
  }
  .contenulisteProjet1 p {
    padding: 20px;
  }
  
  
  th, td{
    border: none !important;
  }
  
  /* Anim */
  
  .activelisteProjet1 {
    background: radial-gradient(#022060,#191e3f) !important;
    color: #f1f1f1 !important;
    transition: all 0.3s ease !important;
  }
  
  .activeContenulisteProjet1 {
    animation: fade 0.5s forwards !important;
  }
  @keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  /* ====== PLANIFIE ====== */
  
  .contenulisteProjet1{
    margin-left: 0;
    padding: 0;
    width: 88vw !important;
    text-align: center !important;
    height: 40vh;
  }
  
  /* ========== Btns ============*/
  
  #btn_creer_projet{
    height: 40px;
    margin-left: 30vw;
    width: 200px;
    font-size: 1.4rem;
    border-radius: 30px;
  }