<div id="k_creation_client">
    <div class="containeCreationClien">
        <div onclick="afficherLogo()" style="cursor: pointer;">
            <img src="./assets/images/avatar.png" id="k_logo1" style="width: 100px;">

        <form class="row form-group col-md-12 g-3 justify-content-center">

            <div class="mb-3 col-9 d-md-flex align-items-center justify-content-between">
                <label class="form-label col-2">Nom</label>
                <input type="text" class="form-control creationClient" id="last_name" placeholder="Nom" required>
            </div>
            <div class="mb-3 col-9 d-md-flex align-items-center justify-content-between">
                <label class="form-label col-2">Prenom</label>
                <input class="form-control creationClient" id="first_name" required placeholder="Prenom">
            </div>
            <div class="mb-3 col-9 d-md-flex align-items-center justify-content-between">
                <label for="exampleInputEmail1" class="col-2">Email</label>
                <input type="email" class="form-control creationClient" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" required>
                <div class="invalid-feedback">E-mail invalide </div>
            </div>
            <div class="mb-3 col-9 d-md-flex align-items-center">
                <label for="numero" class="form-label col-2">Numero</label>
                <div class="col-12 col-md-5">
                    <input type="tel" class="form-control creationClient" id="telephone" placeholder="Numero"
                        onkeypress="javascript:return isNumber(event)" pattern="[0-9]">
                </div>
                <label for="formFile" style="margin-left: 3vw;" class="form-label col-2">Image</label>
                <input class="form-control creationClient" type="file" id="formFile">
            </div>
            <div class="mb-3 col-9 d-md-flex align-items-center justify-contente-between">
                <label class="validationServer01 form-label col-2">Adress</label>
                <input id="autocomplete" placeholder="Entrer l'adresse" onFocus="geolocate()" type="text"
                    class="form-control creationClient" required>
            </div>
            <div id="address" class="col-md-9">
                <div class="row costumerAdress">
                    <div class="mb-3 col-md-6 d-md-flex align-items-center justify-contente-between">
                        <label class="control-label col-4">Numero</label>
                        <input class="form-control" id="street_number" disabled="true">
                    </div>
                    <div class="mb-3 col-md-6 d-md-flex align-items-center justify-contente-between">
                        <label class="control-label col-4">Adresse</label>
                        <input class="form-control" id="route" disabled="true">
                    </div>
                </div>
                <div class="row costumerAdress">
                    <div class="mb-3 col-md-6 d-md-flex align-items-center justify-contente-between">
                        <label class="control-label col-4">Ville</label>
                        <input class="form-control field" id="locality" disabled="true">
                    </div>
                    <div class="mb-3 col-md-6 d-md-flex align-items-center justify-contente-between">
                        <label class="control-label col-4">Depart.</label>
                        <input class="form-control" id="administrative_area_level_1" disabled="true">
                    </div>
                </div>
                <div class="row costumerAdress">
                    <div class="mb-3 col-md-6 d-md-flex align-items-center justify-contente-between">
                        <label class="control-label col-4">Code Postal</label>
                        <input class="form-control" id="postal_code" disabled="true">
                    </div>
                    <div class="mb-3 col-md-6 d-md-flex align-items-center justify-contente-between">
                        <label class="control-label col-4">Pays</label>
                        <input class="form-control" id="country" disabled="true">
                    </div>
                </div>
            </div>

        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary">Confirmer</button>
        </div>

    </div>
</div>