<!-- <div id="containerlisteProjet1">
    <div class="containerlisteProjet1">
        <div class="container-ongletslisteProjet1 d-flex">
            <div class="ongletslisteProjet1 activelisteProjet1" data-anim="1">MONTAUBAN & FILS</div>
            <div class="ongletslisteProjet1" data-anim="2">FACADE SUD CHARENTE</div>
            <div class="ongletslisteProjet1" data-anim="3">GAUTHIER</div>
            <div class="ongletslisteProjet1" data-anim="4">FUNERAIRE</div>
        </div>

        <div class="contenulisteProjet1 activeContenulisteProjet1" data-anim="1">
            <table class="table table-striped text-center table-sortable">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">ID Projet</th>
                        <th scope="col">Checkpoints</th>
                        <th scope="col">Entite</th>
                        <th scope="col">Date Début Chantier</th>
                        <th scope="col">Date Fin Previsionnel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>2021001</td>
                        <td><a href="checkpoint_final.php">Checkpoints</a></td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>2021001</td>
                        <td><a href="checkpoint_final.php">Checkpoints</a></td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>2021001</td>
                        <td>Checkpoints</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>2021001</td>
                        <td>Checkpoints</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>2021001</td>
                        <td>Checkpoints</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>2021001</td>
                        <td>Checkpoints</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>2021001</td>
                        <td>Checkpoints</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="contenulisteProjet1" data-anim="2">
            <table class="table table-striped text-center table-sortable">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">ID Projet</th>
                        <th scope="col">Entite</th>
                        <th scope="col">Date Envoi Devis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="contenulisteProjet1" data-anim="3">
            <table class="table table-striped text-center table-sortable">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">ID Projet</th>
                        <th scope="col">Entite</th>
                        <th scope="col">Date Création Projet</th>
                        <th scope="col">Date RDV</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="contenulisteProjet1" data-anim="4">
            <table class="table table-striped text-center table-sortable">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">ID Projet</th>
                        <th scope="col">Entite</th>
                        <th scope="col">Date Fin</th>
                        <th scope="col">Date Derniere Facture</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>2021001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->
<div id="containerlisteProjet1">
    <div class="containerInfoClient">
        <div class="container-ongletsInfoClient d-flex" style="height: auto;">
            <div class="ongletsInfoClient ongletslisteProjet1 activeInfoClient" style="background: url(./assets/images/montauban_and_fils.png), no-repeat;" data-anim="1">MONTAUBAN & FILS</div>
            <div class="ongletsInfoClient ongletslisteProjet1" style="background: url(./assets/images/gauthier_montauban.jpg);" data-anim="2">GAUTHIER</div>
            <div class="ongletsInfoClient ongletslisteProjet1" data-anim="3">FUNERAIRE</div>
            <div class="ongletsInfoClient ongletslisteProjet1" data-anim="4">FACADE SC</div>
        </div>

        <div class="contenuInfoClient activeContenuInfoClient contenulisteProjet1" data-anim="1">
            <table class="table table-striped text-center table-sortable">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">ID Projet</th>
                        <th scope="col">ID Client</th>
                        <th scope="col">Entite</th>
                        <th scope="col">Date Début Chantier</th>
                        <th scope="col">Date Fin Chantier</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="contenuInfoClient" data-anim="2">
            <table class="table table-striped text-center table-sortable">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">ID Projet</th>
                        <th scope="col">ID Client</th>
                        <th scope="col">Entite</th>
                        <th scope="col">Date Début Chantier</th>
                        <th scope="col">Date Fin Chantier</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="contenuInfoClient" data-anim="3">
            <table class="table table-striped text-center table-sortable">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">ID Projet</th>
                        <th scope="col">ID Client</th>
                        <th scope="col">Entite</th>
                        <th scope="col">Date Début Chantier</th>
                        <th scope="col">Date Fin Chantier</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="contenuInfoClient" data-anim="4">
            <table class="table table-striped text-center table-sortable">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">ID Projet</th>
                        <th scope="col">ID Client</th>
                        <th scope="col">Entite</th>
                        <th scope="col">Date Début Chantier</th>
                        <th scope="col">Date Fin Chantier</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>2021001</td>
                        <td>001</td>
                        <td>Montauban</td>
                        <td>01/01/2021</td>
                        <td>01/01/2021</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>